html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.reset-button {
  position: absolute;
  right: 15px;
  top: 30px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  font-size: 14px;
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.reset-button:hover {
  background-color: #d32f2f;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.message-list {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.message-item {
  margin-bottom: 10px;
  padding: 10px 10px 10px 20px;
  border-radius: 5px;
  max-width: 70%;
  word-wrap: break-word;
}

.message-item.user {
  background-color: #e6f2ff;
  align-self: flex-start;
  margin-right: auto;
  padding: 10px;
}

.message-item.bot {
  background-color: #f0f0f0;
  align-self: flex-end;
  margin-left: auto;
}

.input-area {
  display: flex;
  padding: 10px;
  background-color: #f8f8f8;
  position: relative;

}

.input-area input {
  flex: 1;
  padding: 10px;
  padding-right: 50px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.input-area button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.input-area button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}