/* 全体のスタイル */
.app {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/* ナビゲーションメニュー */
nav {
      -webkit-flex-basis: 100;
    flex-basis: 100;
  width: 200px;
  padding: 20px;
  background-color: #f0f0f0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-bottom: 15px;
}

nav a {
  color: #333333;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #3a7bd5;
}
